
/* Clases */

.eventIcon {
    width: 3.8em;
    height: 3.8em;
    margin: -0.3em 1em 0 0;
    border-radius: 50%;
    background-color: rgb(238, 238, 238);
    background-color: #f9f6f6;
}

.eventSpacer {
    height:calc(50vh + 1em);
    margin: 0.5em 0;
}

.eventDateTop {
    margin-top: 5em;
}

.eventDateBottom {
    margin-top: .5rem;
}

.cardTitleContainer {
    --bs-gutter-x: 0;
    align-items: center;
}

.timelineWidget {
    margin:auto;
    max-width: 42em;
    padding-left: 1.3em;
}

.timeLine {
    width:0.3em;
}

.timeStart {
    height:10em;
    background: linear-gradient(rgba(0, 0, 0, 0), rgb(0, 0, 0));
}

.timeEnd {
    height:10em;
    background: linear-gradient( rgb(0, 0, 0), rgba(0, 0, 0, 0));
}

.timeMid {
    flex-grow: 1;
    background:black;
}

.lineLeft {
    position: absolute;
    left: 0.3rem;
    width: 3.8rem;
    height: 2.2rem;
    background: url(../img/timeline.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center left;
}

.eventDate {
    margin-left: -0.7rem;
    position: relative;
    padding-left: 0.7rem;
    background: white;
}

/* IDs */

#imgGrad {
    background: url(../img/graduation-hat.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 0;
}

#imgDiploma {
    background: url(../img/diploma.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 0;
}

#imgVEGP {
    background: url(../img/VEGP.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 0;
}

#imgVFDE {
    background: url(../img/automotive.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 0;
}

#imgVOL {
    background: url(../img/help.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 0;
}

#imgSTARTUP {
    background: url(../img/startup.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 0;
}

#imgINNOV {
    background: url(../img/startup2.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 0;
}

#imgUPM {
    width: 7em;
}
#imgKTH {
    width: 7em;
}
#imgVCC {
    width: 7em;
}
#imgIUPI {
    width: 7em;
}
#imgUOC {
    width: 7em;
}
#imgDEMIUM {
    width: 7em;
}
#imgGEEKS {
    width: 7em;
}