
/* Clases */

.eventIcon {
    width: 3.8em;
    height: 3.8em;
    margin: -0.3em 1em 0 0;
    border-radius: 50%;
    background-color: rgb(238, 238, 238);
    background-color: #f9f6f6;
}

.eventDateTop {
    margin-top: 5em;
}

.eventDateBottom {
    margin-top: .5rem;
}

.cardTitleContainer {
    --bs-gutter-x: 0;
    align-items: center;
}

.timelineWidget {
    margin:auto;
    max-width: 43em;
}

/* IDs */

#imgGrad {
    background: url(../img/graduation-hat.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 0;
}

#imgDiploma {
    background: url(../img/diploma.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 0;
}

#imgVEGP {
    background: url(../img/VEGP.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 0;
}

#imgVFDE {
    background: url(../img/automotive.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 0;
}

#imgVOL {
    background: url(../img/help.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 0;
}

#imgSTARTUP {
    background: url(../img/startup.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 0;
}

#imgUPM {
    width: 7em;
}
#imgKTH {
    width: 7em;
}
#imgVCC {
    width: 7em;
}
#imgIUPI {
    width: 7em;
}
#imgUOC {
    width: 7em;
}